%section
  .container-fluid
    .page-header
      %h2
        = @question.title
        .pull-right
          %small
            = link_to '수정', [:edit, @question]
            = link_to '삭제', @question, method: :delete, data: {confirm: '정말로 삭제하시겠습니까?'}

    %div
      = simple_format @question.body

    %div
      = render 'comments/list', commentable: @question