- participation_at_participation ||= false

- if user_signed_in?
  - if project.participant?(current_user)
    = link_to cancel_project_participations_path(project_id: project), method: :delete, remote: true, data: { confirm: '참여를 취소하겠습니까?' }, class: 'btn btn-default btn-lg btn-participation btn-participation__cancel' do
      참여 중
      = project.participations_count if participation_at_participation
  - else
    = link_to project_participations_path(project_id: project), method: :post, remote: true, class: 'btn btn-primary btn-lg btn-participation btn-participation__accept' do
      참여하기
      = project.participations_count if participation_at_participation
- else
  = link_to join_path, class: 'btn btn-default btn-lg btn-participation btn-participation__accept' do
    참여하기
    = project.participations_count if participation_at_participation

- if participation_at_participation
  %div
    목표 #{project.participations_goal_count}명
