%div[proposal]
  .media
    .media-body
      %h4
        \##{proposal.id}
        = link_to proposal.title, admin_proposal_path(proposal)
        - if proposal.launched?
          %i.fa.fa-rocket
          - proposal.projects.each do |project|
            = link_to project.title, [:admin, project]
      %div
        %span= proposal.proposer_name
        %span= proposal.proposer_email
        %span= proposal.proposer_phone
        - if proposal.user.present?
          %span (회원: #{proposal.user.nickname})
      %div
        %span= proposal.created_at
        %span.fa.fa-comment-o
          = proposal.comments.count

