%section
  .container-fluid
    .page-header
      %h2
        = @proposal.title
        .pull-right
          %small
            - if @proposal.launched?
              프로젝트 :
              - @proposal.projects.each do |project|
                = link_to project.title, [:admin, project]
            - else
              = link_to '프로젝트 만들기', new_admin_project_path(proposal_id: @proposal.id)

    %div
      %span= @proposal.proposer_name
      %span= @proposal.proposer_email
      %span= @proposal.proposer_phone
      - if @proposal.user.present?
        %span (회원: #{@proposal.user.nickname})
    %div
      = simple_format @proposal.body
      - @proposal.attachments.each do |attachment|
        = link_to attachment.name, attachment.source.url, target: '_blank'

    %div
      = render 'comments/list', commentable: @proposal
