%section#profile-edit
  .container
    .profile-edit-header
      프로필을 수정할 수 있습니다
    = devise_error_messages!
    %h2.user-title
      = render 'users/thumbnail'
      = current_user.nickname
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      .form-group
        = f.label :nickname, class: 'required'
        = f.text_field :nickname, class: 'form-control'
      .form-group
        = f.label :email, class: 'required'
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :image
        = f.file_field :image, autofocus: true, class: 'form-control'
        = f.hidden_field :image_cache
      .form-group.text-center
        = f.submit '저장', class: 'btn btn-submit', data: { disable_with: "저장 중..." }
