.comment[comment]
  .media
    .media-left
      .comment-image.img-user-large{style: "background-image: url(#{image_url(comment.user.image.xs.url)});"}
    .media-body
      .comment-meta
        %span.comment-name= comment.user.nickname
        %span.comment-date= date_f comment.created_at
      = simple_format comment.body
      .buttons
        - if can? :update, comment
          = link_to '수정', [:edit, comment]
        - if can? :destroy, comment
          = link_to '삭제', comment, method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }
    .media-right
      .like
        = render 'likes/button', likable: comment, remote: true
