.comment-form
  - comment = @comment || Comment.new
  - if user_signed_in?
    - if !commentable.try(:sould_reject_comment_of?, current_user)
      .placeholder.action-show{ data: { show: { target: 'form#new_comment', focus: 'form#new_comment #comment_body', 'self-hide': 'true' } } }= local_assigns[:placeholder]
      = form_for ( comment.new_record? ? [commentable, Comment.new] : comment ) do |f|
        .form-group
          = f.text_area :body, rows: 5, class: 'form-control', placeholder: local_assigns[:placeholder]
        .form-group
          = f.submit '저장', class: 'btn btn-comment'
    - else
      참여시민의 지지의견입니다.
  - else
    = link_to join_path do
      .placeholder= local_assigns[:placeholder]
