%section
  .container
    .page-header
      %h2.clearfix
        관리 &gt;
        = link_to '제안매칭', admin_projects_path
        &gt;
        = link_to @project.title, [:admin, @project]


    %div
      %h3
        참여 국회의원
      %ul.list-group
        - @project.matches.each do |m|
          - if m.congressman.present?
            %li.list-group-item
              = m.congressman.name
              = m.status_text
              = m.created_at
              .pull-right
                = link_to '상태변경', [:edit, :admin, m]
                = link_to '삭제', [:admin, m], method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }
        - if @project.unmathed_congressmen.any?
          %li.list-group-item
            = render 'admin/matches/new_form', project: @project
