= form_for (@congressman.new_record? ? @congressman : [:admin, @congressman]) do |f|
  = f.hidden_field :committee_id, value: local_assigns[:committee].try(:id) || f.object.committee.id
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :image
    = f.hidden_field :image_cache, value: f.object.image_cache
    = f.file_field :image, class: 'form-control input-lg'
    .help-block 추천 크기 : 000 X 000 정도면 됩니다. 자동으로 적당히 늘어나고 잘려 나옵니다.
    - if upload_file_exists?(@project.try(:image))
      = image_tag @project.image.url, class: 'img-thumbnail', style: 'max-width: 50%'

  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'

  .form-group
    = f.label :facebook_url
    = f.text_field :facebook_url, class: 'form-control'

  .form-group
    = f.label :twitter_url
    = f.text_field :twitter_url, class: 'form-control'

  .form-group
    = f.label :party
    = f.text_field :party, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-defult'
