%section#profile-edit
  .container
    .profile-edit-header
      = render 'users/thumbnail'
      = current_user.nickname
    %h2.user-title
    = form_for(current_user, url: current_password_path, html: { method: :patch }) do |f|
      .form-group{class: error_class_str(current_user, :current_password)}
        = f.label :current_password, class: 'required' do
          현재 사용 중인 비밀번호를 넣어주세요.
        = f.password_field :current_password, class: 'form-control input-lg'
        .help-block
          = error_messages(current_user, :current_password)
      %hr
      .form-group{class: error_class_str(current_user, :password)}
        = f.label :password, class: 'required' do
          새로운 비밀번호를 넣어주세요.
        = f.password_field :password, class: 'form-control input-lg'
        .help-block
          = error_messages(current_user, :password)
      .form-group{class: error_class_str(current_user, :password_confirmation)}
        = f.label :password_confirmation, class: 'required'
        = f.password_field :password_confirmation, class: 'form-control input-lg'
        .help-block
          = error_messages(current_user, :password_confirmation)

      .form-group.form-group-submit
        = f.submit '저장', class: 'btn btn-submit', data: { disable_with: "저장 중..." }

