%section#page-users-show

  %section#user-header
    .container
      .user-meta
        .user-image.img-user-jumbo{style: "background-image: url(#{image_url(@user.image.sm.url)});"}
        .user-nickname= @user.nickname
        - if @user == current_user
          .user-email= @user.email
          .user-edit
            = link_to edit_user_registration_path do
              %i.fa.fa-cog

  %section#user-body
    .container

      - if @user.participations.any?
        .section-label
          %strong|
          - if @user == current_user
            내가 참여한
          제안
          %span.count= @user.participations.count
        .projects
          - @user.participations.recent.each do |participation|
            - if participation.project.present?
              = link_to participation.project do
                .project
                  .project-title= participation.project.title
                  .project-date
                    = date_f participation.created_at
                    참여

      - if @user.participations.any? and @user.proposals.any?
        %hr

      - if @user.proposals.any?
        .section-label
          %strong|
          - if @user == current_user
            내가 한
          제안
          %span.count= @user.proposals.count
        .proposals
          - @user.proposals.recent.each do |proposal|
            .proposal
              .proposal-title= proposal.title
              .proposal-date= date_f proposal.created_at
