= form_for [:admin, @project] do |f|

  .form-group
    = f.label :committee
    = f.select :committee_id, nil, {}, {class: 'form-control input-lg'} do
      - Committee.all.each do |committee|
        %option{value: committee.id, selected: @project.committee == committee}
          = committee.name

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control input-lg'

  .form-group
    = f.label :summary
    = f.text_area :summary, class: 'form-control redactor'

  .form-group
    = f.label :proposer_description
    = f.text_area :proposer_description, class: 'form-control redactor'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor'

  .form-group
    = f.label :image
    = f.hidden_field :image_cache, value: f.object.image_cache
    = f.file_field :image, class: 'form-control input-lg'
    .help-block 추천 크기 : 740px X 246px 정도면 됩니다. 이미지 이펙트는 이미지 하단부터 블랙에서 투명으로 그라디언트되는 레이어 (높이 64px)를 이미지 위에 덮어 주세요. 자동으로 적당히 늘어나고 잘려 나옵니다.
    - if upload_file_exists?(@project.try(:image))
      = image_tag @project.image.url, class: 'img-thumbnail', style: 'max-width: 50%'


  .form-group
    = f.label :participations_goal_count
    = f.text_field :participations_goal_count, class: 'form-control  input-lg'
    .help-block
      입력하지 않으면 1000명 기본값으로 설정됩니다.

  .form-group
    = f.label :proposal_id
    = f.text_field :proposal_id, class: 'form-control input-lg'
    .help-block
      관련 제안이 있다면 해당 제안번호를 넣어주세요.
      = link_to '제안번호 확인', admin_proposals_path, target: '_blank'

    - if @project.proposal.present?
      .panel.panel-default
        .panel-body
          = render @project.proposal

  %h3 Attachments
  #attachments
    = f.fields_for :attachments do |ff|
      = render 'attachment_fields', f: ff
    .links
      = link_to_add_association 'add attachment', f, :attachments

  .form-group
    = f.submit class: 'btn btn-primary'
