%section
  .container
    .page-header
      %h2
        관리 &gt; 제안
        .pull-right
          %small
            = link_to '만들기', new_admin_project_path
    %table.table.table-condensed
      %thead
        %tr
          %th #
          %th 제목
          %th 상태
          %th 날짜
      %tbody
        - @projects.each do |project|
          %tr
            %th(scope="row")= project.id
            %td
              = link_to project.title, [:admin, project]
              %span.fa.fa-comment-o
                = project.comments.count
            %td= t("messages.project_status.#{project.status_of_project}")
            %td
              %span= static_date_f project.created_at
