%section
  .container
    .page-header
      %h2
        관리 &gt;
        = link_to '프로젝트', admin_projects_path
        &gt; #{@project.title}
        .pull-right
          %small
            = link_to '수정', [:edit, :admin, @project]

    .panel.panel-default
      .panel-heading
        %div
          [상태]
          = t("messages.project_status.#{@project.status}")
      .panel-body
        [내용]
        = simple_format @project.body
        - @project.attachments.each do |attachment|
          = link_to attachment.name, attachment.source.url, target: '_blank'
      - if @project.committee.present?
        .panel-footer
          %div
            [관련 상임위원회]
            = @project.committee.name

    - if @project.proposal.present?
      %h3 관련제안
      .panel.panel-default
        .panel-body
          = render @project.proposal


    %div
      %h3 참여 시민
      #{@project.participations_count}명 / 목표 #{@project.participations_goal_count}명
      = link_to '모두 보기', project_participations_path(project_id: @project), target: '_blank'

    %div
      %h3 참여 국회의원
      %ul.list-group
        - @project.matches.each do |m|
          %li.list-group-item
            = m.congressman.name
            = m.status_text
            = m.created_at
            .pull-right
              = link_to '수정', [:edit, :admin, m]
              = link_to '삭제', [:admin, m], method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }
        - if @project.unmathed_ongressmen.any?
          %li.list-group-item
            = render 'admin/matches/new_form', project: @project

    %div
      = render 'comments/list', commentable: @project
