%section
  .container
    .page-header
      %h2.clearfix
        관리 &gt;
        = link_to '제안매칭', admin_projects_path
        &gt; #{@project.title}
        .pull-right
          %small
            = link_to '수정', [:edit, :admin, @project]
            = link_to '삭제', [:admin, @project], method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }

    .panel.panel-default
      .panel-heading
        %div
          [상태]
          = t("messages.project_status.#{@project.status}")
      .panel-body
        [제안자 소개]
        != simple_format @project.proposer_description
        [요약]
        != simple_format @project.summary
        %hr
        [내용]
        != @project.body

        - if upload_file_exists?(@project.image)
          [대표이미지]
          = image_tag @project.image.url, class: 'img-thumbnail', style: 'max-width: 50%'

        - @project.attachments.each do |attachment|
          = link_to attachment.name, attachment.source.url, target: '_blank'

      - if @project.committees.any?
        .panel-footer
          %div
            [관련 상임위원회]
            - @project.committees.each do |committee|
              = committee.name

    - if @project.proposal.present?
      %h3 관련제안
      .panel.panel-default
        .panel-body
          = render @project.proposal


    %div
      %h3 참여 시민
      #{@project.participations_count}명 / 목표 #{@project.participations_goal_count}명
      = link_to '모두 보기', project_participations_path(project_id: @project), target: '_blank'

    %div
      %h3
        참여 국회의원
        = link_to '관리/추가', admin_project_matches_path(@project), class: 'btn btn-default'
      %ul.list-group
        - @project.matches.each do |m|
          - if m.congressman.present?
            %li.list-group-item
              = m.congressman.name
              = m.status_text
              = m.created_at
              .pull-right
                = link_to '상태변경', [:edit, :admin, m]
                = link_to '삭제', [:admin, m], method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }

    %div
      = render 'comments/list', commentable: @project
