%section#page-home
  %section#key-visual
    .owl-carousel
      .item.constant-item
        %p
          국회에 직접 제안을 보내세요.
          %br
          시민의 제안으로 법안을 만듭니다.
        = image_tag 'key_visual.png', class: 'key-visual-image'
        - if user_signed_in?
          = link_to new_project_path, class: 'btn btn-default btn-lg btn-home-proposal' do
            제안하기
        - else
          = link_to new_user_session_path, class: 'btn btn-default btn-lg btn-home-proposal' do
            제안하기
      - @mainslides.each do |mainslide|
        .item
          - if mainslide.url.present?
            = link_to mainslide.url, target: '_blank' do
              = image_tag mainslide.image.lg.url
          - else
            = image_tag mainslide.image.lg.url

  %section#current-projects
    .container.project-container
      .projects-filter
        .projects-search-form
          %form(onsubmit="return false;")
            = hidden_field_tag :sort
            .input-group.input-group-lg.input-group-keyword
              %input.form-control{name: "keyword", placeholder: "제안 검색하기", type: "search", data: { action: 'hotline-search-projects', 'search-sort': '#current-projects input[name=sort]'}}
                %span.input-group-btn
                  %button.btn.btn-group-default{:type => "button"}
                    %i.fa.fa-search
        .projects-sort-select
          = render 'pages/home_sort_select'

      .projects-all-loading
        %i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw

      .projects-all-list
        = render 'projects/list'

