- if @project.primary_committee_id.present?
  - primary_committee = Committee.find(@project.primary_committee_id)
  - not_priamary_committees = @project.committees.order(:name) - [ primary_committee ]
  - committees = [primary_committee] + not_priamary_committees
- else
  - committees = @project.committees.order(:name)
.project-panel__committee.project-panel
  .project-label
    %strong|
    이 제안의 상임위원회
  - if @project.committees.any?
    .committees-contents
      - committees.each do |committee|
        .committee-content
          .committee-name
            = committee.name
          .committee-congressmen.clearfix{class: "#{'owl-carousel owl-theme' if browser.device.mobile?}"}
            - @project.sorted_congressmen_of_committee(committee).each do |congressman|
              .committee-congressman-wrapper{class: "#{'col-xs-3' unless browser.device.mobile? }"}
                .committee-congressman{class: "committee-congressman-#{@project.status_of_congressman(congressman)}"}
                  - unless @project.status == :gathering
                    .committee-congressman__status{class: "committee-congressman__status--#{@project.status_of_congressman(congressman)}"}
                      - if @project.status_of_congressman(congressman) == :accept
                        = image_tag 'icon_match_accept.png'
                      - if @project.status_of_congressman(congressman) == :reject
                        = image_tag 'icon_match_reject.png'
                      - if @project.status_of_congressman(congressman) == :calling
                        = t("enumerize.match.status.calling") if @project.status == :matching
                        = image_tag 'icon_match_no_answer.png' if @project.status == :running


                  .committee-congressman__image.img-cogressman{style: "background-image: url(#{congressman.image.sm.url})"}
                  .committee-congressman__name
                    = congressman.name
                  .committee-congressman__contacts-first-line
                    .committee-congressman__contacts-first-line--tok
                      - if user_signed_in?
                        - if @project.participant?(current_user)
                          %a.action-mention.metion-btn.btn{ href: '#', data: { mention: { to: congressman.name, 'form-control': '#new_comment textarea#comment_body', 'form-placeholder': '.placeholder.action-show' } } }
                            호출
                            = image_tag 'icon_comment_white.png', class:'tok-icon'
                        - else
                          %a.action-mention-before-paticipation.metion-btn.btn{ href: '#anchor-participation' }
                            호출
                            = image_tag 'icon_comment_white.png', class:'tok-icon'
                      - else
                        %a.metion-btn.btn{ href: new_user_session_path}
                          호출
                          = image_tag 'icon_comment_white.png', class:'tok-icon'
                  .committee-congressman__contacts-second-line
                    - if congressman.homepage_url.present?
                      .committee-congressman__contacts-second-line--homepage
                        = link_to congressman.homepage_url, target: '_blank' do
                          %i.fa.fa-home.fa-fw
                    - if congressman.twitter_url.present?
                      .committee-congressman__contacts-second-line--twitter
                        = link_to congressman.twitter_url, target: '_blank' do
                          %i.fa.fa-twitter.fa-fw
                    - if congressman.facebook_url.present?
                      .committee-congressman__contacts-second-line--facebook
                        = link_to congressman.facebook_url, target: '_blank' do
                          %i.fa.fa-facebook.fa-fw
                    - if congressman.email.present?
                      .committee-congressman__contacts-second-line--email
                        = mail_to congressman.email, target: '_blank' do
                          %i.fa.fa-envelope.fa-fw
