%section#project-base
  .container
    .project-panel__matching.project-panel
      - if @project.status == :matching
        .project-matched-steps
          .media.project-matched-step
            .media-left.matched-icon
              = image_tag 'icon_smile_on.png'
            .media-body.matched-detail
              '#{@project.title}'에 대한 시민의 ‘참여하기'가 #{number_with_delimiter(@project.participations_goal_count)}명을 돌파했습니다.
          .media.project-matched-step
            .media-left.matched-icon
              = image_tag 'icon_send_on.png'
            .media-body.matched-detail
              - @project.committees.each do |committee|
                = "'#{committee.name}'"
              국회의원들에게 초대 메일을 보냈습니다.
          .media.project-matched-step
            .media-left.matched-icon
              = image_tag 'icon_timer_on.png'
            .media-body.matched-detail
              - if @project.matching_staff_message.present?
                = simple_format @project.matching_staff_message
              - else
                = t("messages.default_matching_staff_message")
          - if @project.mathced_congressmen_commented?
            %hr.project-divider
            .project-panel__comgressmen-comment.project-panel
              .project-label
                %strong|
                의원 한마디
              - @project.matches.each do |match|
                - if match.matching_comment.present?
                  .project-panel__comgressman
                    .media
                      .media-left
                        .comgressman-image.img-user-large{style: "background-image: url(#{match.congressman.image.sm.url})"}
                      .media-body.comgressman-comment-content
                        %span.comgressman-name
                          = match.congressman.name
                        - if match.congressman.party.present?
                          %span.comgressman-party
                            | #{match.congressman.party}
                        %span{class: "btn-xs comgressman-match-status comgressman-match-status-#{match.status}"}
                          = match.status_text
                        .comgressman-opinion
                          = match.matching_comment


          %hr.project-divider
          .project-panel__summary.project-panel
            .project-label
              %strong|
              제안 요약
            .project-summary
              = simple_format @project.summary

          %hr.project-divider


