%section#project-base
  .container
    .project-panel__gathering.project-panel
      .project-panel__body
        != @project.body
      - @project.attachments.each do |attachment|
        = link_to attachment.name, attachment.source.url, target: '_blank'
%section#project-meta
  .container
    - if @project.proposal.present?
      %hr.project-divider
      .project-panel__proposer.project-panel
        .project-label
          %strong|
          제안자
        .project-panel__proposer
          .media
            .media-left
              .proposer-image.img-user-large{style: "background-image: url(#{@project.proposal.proposer_image_url(:sm)});"}
            .media-body.proposal-content
              %span.proposer-name
                = @project.proposal.proposer_name
              %span.proposer-date
                = static_date_f_not_hour @project.proposal.created_at
              .proposer-opinion
                = simple_format @project.proposer_description

- unless @project.participant?(current_user)
  %section#project-participations-stuckable
    .container
      .project-panel__participation.project-panel
        .btn-project-participation#project-participation-button-stuckable
          = render 'participations/button', project: @project

= render 'project_participations', project: @project
