= form_for @project do |f|

  = f.hidden_field :proposal_id, value: @proposal.id

  .form-group
    = f.label :committee
    = f.select :committee_id, nil, {}, {class: 'form-control'} do
      - Committee.all.each do |committee|
        %option{value: committee.id, selected: @project.committee == committee}
          = committee.name

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control input-lg', value: @project.title || @proposal.title

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor', value: @project.body || @proposal.body


  %h3 Attachments
  #attachments
    = f.fields_for :attachments do |ff|
      = render 'attachment_fields', f: ff
    .links
      = link_to_add_association 'add attachment', f, :attachments

  .form-group
    = f.submit class: 'btn btn-primary'
