.project[project]
  = link_to project do
    .project-meta.clearfix
      .pull-left
        %span.created_at
          = image_tag 'icon_clock.png', class: 'icon-clock'
          %span.date= date_f project.created_at
        %span.comments
          = image_tag 'icon_comment.png', class: 'icon-comment'
          %span.count= project.comments.count
      .pull-right
        %span.share-button
          = render 'projects/project_share', project: project
          / %span.count= image_tag 'icon_share.png', class: 'icon-share'

    .project-title= project.title
    .project-summary!= project.summary
    %a.anchor{id: "anchor-participation-home-#{project.id}"}
    .project-image
      %img{src: project.image.lg.url}
      .steps{class: "steps--#{project.status}"}<>
        .step.step--gathering<>
          = t("messages.project_status.gathering")
        .step.step--matching<>
          = t("messages.project_status.matching")
        .step.step--running<>
          = t("messages.project_status.running")

    .project-graph
      - left_style = "left: #{project.participations_percentage - 5}%" if project.participations_percentage > 5 and project.participations_percentage <= 90
      - right_style = "float: right;" if project.participations_percentage > 90
      .current-participations-count.clearfix
        .content{style: "#{left_style} #{right_style}"}
          참여
          %span
            %span.count<>= project.participations_count
            명
          %br
          %i.fa.fa-bullhorn
      - if project.participations_percentage >= 100
        .bar
          .participations-bar{style: "width: 100%"}
      - else
        .bar
          .participations-bar{style: "width: #{project.participations_percentage}%"}

      .participations-goal-count
        목표
        %span
          %span.count<>= project.participations_goal_count
          명
    .project-participation{id:"project-participation-button-#{project.id}"}
      = render 'participations/button', project: project, participation_at_home: true
