%section#project-participations
  .container
    .project-panel__participation.project-panel#anchor-participation
      %p.participation-title
        - unless @project.participant?(current_user)
          - if @project.status == :gathering
            - if @project.participations.any?
              이 제안에 #{@project.participations_count + 1}번째 참여시민이 되어 주세요!
              %br
              시민 1,000명이 모이면 국회의원 매칭을 시작합니다!
            - else
              이 제안의 첫 번째 참여시민이 되어 주세요!
              %br
              시민 1,000명이 모이면 국회의원 매칭을 시작합니다!
          - else
            시민의 참여가 목표인원인 #{number_with_delimiter(@project.participations_goal_count)}명을 달성했습니다
            %i !
            %br
            목표인원이 채워진 이후에도 계속 참여 가능합니다.
        - else
          #{current_user.nickname}님은 제안에 참여 중이십니다.
      .participation-progress
        .participation-progress__graph
          - left_style = "left: #{@project.participations_percentage - 5}%" if @project.participations_percentage > 5 and @project.participations_percentage <= 90
          - right_style = "float: right;" if @project.participations_percentage > 90
          .current-participations-count.clearfix
            .content{style: "#{left_style} #{right_style}"}
              참여
              %span
                %span.count<>= @project.participations_count
                명
              %br
              %i.fa.fa-bullhorn
          - if @project.participations_percentage >= 100
            .bar
              .participations-bar{style: "width: 100%"}
          - else
            .bar
              .participations-bar{style: "width: #{@project.participations_percentage}%"}

            .participations-goal-count
              목표 #{@project.participations_goal_count}명
      .btn-project-participation#project-participation-button
        = render 'participations/button', project: @project
      .participation-users
        = render 'participations/list', project: @project
