.project[project]
  = link_to project_path(project) do
    .project-intro
      .project-image{style: "background-image: url(#{project.image.lg.url});"}
      .project-status
        -if project.status_of_project == :gathering
          시민참여
        -if project.status_of_project == :matching
          매칭 중
        -if project.status_of_project == :running
          입법활동

    .project-detail
      - left_style = "left: #{project.participations_percentage - 5}%" if project.participations_percentage > 5 and project.participations_percentage <= 90
      - right_style = "float: right;" if project.participations_percentage > 90
      .project-title= project.title

      - if project.participations_percentage >= 100
        .bar
          .participations-bar{style: "width: 100%"}
      - else
        .bar
          .participations-bar{style: "width: #{project.participations_percentage}%"}
      .bar-info
        .media
          .media-body
            %span
              %span.text-primary<>= project.participations_count
              명
          .media-right
            %span.participations-percentage
              #{project.participations_percentage}%

      .project-footer
        .media
          .media-body
            %span.participations
              = image_tag 'icon_participation.png', class: 'icon-participation'
              %span.count= project.participations_count
            %span.comments
              = image_tag 'icon_comment.png', class: 'icon-comment'
              %span.count= project.comments.count
          .media-right
            %span.share-button
              = render 'projects/project_share', project: project


