- steps_from_home |= false
.steps{class: "steps--#{project.status}"}<>
  - if steps_from_home
    - %w(gathering matching running).each do |project_status|
      .step{class: "step--#{project_status}"}<>
        = Project::STATUS[project_status][:label]
  - else
    - %w(gathering matching running).each do |project_status|
      .step{class: "step--#{project_status} step-popover", "data-url": "#project-#{project_status}-example", "data-action": "toktok-popover", "data-placement": "#{Project::STATUS[project_status][:placement]}"}<>
        -if project.status == :matching
          - if project_status == 'gathering'
            %i.fa.fa-check
        -if project.status == :running
          - if project_status == 'gathering'
            %i.fa.fa-check
          - if project_status == 'matching'
            %i.fa.fa-check
        = Project::STATUS[project_status][:label]
      .hidden<>
        %div{id: "project-#{project_status}-example"}
          %p.project-example-label
            #{Project::STATUS[project_status][:label]}단계란?
          %p.project-example-title
            = Project::STATUS[project_status][:title]
          %p.project-example-sample
            < 예시화면 >
          = image_tag "#{project_status}_example.png"

