%section#page-project
  %section#project-header
    .container
      .page-header
        .project-meta.clearfix
          .pull-left
            %span.created_at
              = image_tag 'icon_clock.png', class: 'icon-clock'
              %span.date= date_f @project.created_at
            %span.comments-button
              = image_tag 'icon_comment.png', class: 'icon-comment'
              %span.count= @project.comments.count
          .pull-right
            = render 'projects/project_share', project: @project
            - if current_user.try(:role).try(:staff?)
              %span.admin-button
                = link_to admin_project_path(@project) do
                  %i.fa.fa-cog
                  관리
            - if @project.user == current_user
              %span.admin-button
                = link_to '수정', edit_project_path(@project)
                - unless @project.participations_count > 0
                  = link_to '삭제', @project, method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }
        %h2
          = @project.title

      .project-panel__intro.project-panel
        .project-image{style: "background-image: url(#{@project.image.lg.url});"}
        .project-panel__status.project-panel
          .project-status-bar
            = render 'projects/project_steps', project: @project

  .tab-content
    #gathering.tab-pane{role: "tabpanel", class: "#{'active' if @project.status_of_project == :gathering}"}
      = render 'projects/content_gathering'
      = render 'project_comments'

    #matching.tab-pane{role: "tabpanel", class: "#{'active' if @project.status_of_project == :matching}"}
      = render 'projects/content_matching'
      = render 'project_committes'
      = render 'project_comments'

    #running.tab-pane{role: "tabpanel", class: "#{'active' if @project.status_of_project == :running}"}
      = render 'projects/content_running'
      = render 'project_comments'



