%section#page-project
  %section#project-header
    .container
      .page-header
        .project-meta.clearfix
          .pull-left
            %span.created_at
              = image_tag 'icon_clock.png', class: 'icon-clock'
              %span.date= date_f @project.created_at
            %span.comments-button
              = image_tag 'icon_comment.png', class: 'icon-comment'
              %span.count= @project.comments.count
          .pull-right
            = render 'projects/project_share', project: @project
            - if current_user.try(:role).try(:staff?)
              %span.admin-button
                = link_to admin_project_path(@project) do
                  %i.fa.fa-cog
                  관리
        %h2
          = @project.title

      .project-panel__intro.project-panel
        .project-image
          %img{src: @project.image.lg.url}
        .project-panel__status.project-panel
          .project-status-bar
            = render 'projects/project_steps', project: @project

        .project-panel__body
          != @project.body
        - @project.attachments.each do |attachment|
          = link_to attachment.name, attachment.source.url, target: '_blank'


  %section#project-meta
    .container
      - if @project.proposal.present?
        %hr.project-divider
        .project-panel__proposer.project-panel
          .project-label
            %strong|
            제안자
          .project-panel__proposer
            .media
              .media-left
                .proposer-image.img-user-large{style: "background-image: url(#{@project.proposal.proposer_image_url(:sm)});"}
              .media-body.proposal-content
                %span.proposer-name
                  = @project.proposal.proposer_name
                %span.proposer-date
                  = static_date_f_not_hour @project.proposal.created_at
                .proposer-opinion
                  = simple_format @project.proposer_description

  - unless @project.participant?(current_user)
    %section#project-participations-stuckable
      .container
        .project-panel__participation.project-panel
          .btn-project-participation#project-participation-button-stuckable
            = render 'participations/button', project: @project

  %section#project-participations
    .container
      %a.anchor#anchor-participation
      .project-panel__participation.project-panel
        %p.participation-title
          - unless @project.participant?(current_user)
            - if @project.participations.any?
              이 제안에 #{@project.participations_count + 1}번째 참여시민이 되어 주세요!
              %br
              시민 1,000명이 모이면 국회의원 매칭을 시작합니다!
            - else
              이 제안의 첫 번째 참여시민이 되어 주세요!
              %br
              시민 1,000명이 모이면 국회의원 매칭을 시작합니다!
          - else
            #{current_user.nickname}님은 제안에 참여 중이십니다.
        .participation-progress
          .participation-progress__graph
            - left_style = "left: #{@project.participations_percentage - 5}%" if @project.participations_percentage > 5 and @project.participations_percentage <= 90
            - right_style = "float: right;" if @project.participations_percentage > 90
            .current-participations-count.clearfix
              .content{style: "#{left_style} #{right_style}"}
                참여
                %span
                  %span.count<>= @project.participations_count
                  명
                %br
                %i.fa.fa-bullhorn
            - if @project.participations_percentage >= 100
              .bar
                .participations-bar{style: "width: 100%"}
            - else
              .bar
                .participations-bar{style: "width: #{@project.participations_percentage}%"}

              .participations-goal-count
                목표 #{@project.participations_goal_count}명
        .btn-project-participation#project-participation-button
          = render 'participations/button', project: @project
        .participation-users
          = render 'participations/list', project: @project

  %section#comments
    .container
      - if @project.committee.present?
        .project-panel__committee.project-panel
          .project-label
            %strong|
            이 제안의 상임위원회
          .committee-content
            .committee-name
              = @project.committee.name
            .committee-congressmen{class: "#{'owl-carousel owl-theme' if browser.device.mobile?}"}
              - @project.committee.congressmen.each do |congressman|
                .committee-congressman-wrapper
                  .committee-congressman
                    - unless @project.status == :gathering
                      .committee-congressman__status{class: "committee-congressman__status--#{@project.status_of_congressman(congressman)}"}
                        = t("enumerize.match.status.#{@project.status_of_congressman(congressman)}")
                    .committee-congressman__image.img-cogressman{style: "background-image: url(#{congressman.image.sm.url})"}
                    .committee-congressman__name
                      = congressman.name
                    .committee-congressman__contacts-first-line
                      .committee-congressman__contacts-first-line--tok
                        - if user_signed_in?
                          %a.action-mention.metion-btn.btn{ href: '#', data: { mention: { to: congressman.name, 'form-control': '#new_comment textarea#comment_body', 'form-placeholder': '.placeholder.action-show' } } }
                            호출
                            = image_tag 'icon_comment_white.png', class:'tok-icon'
                        - else
                          %a.metion-btn.btn{ href: new_user_session_path}
                            호출
                            = image_tag 'icon_comment_white.png', class:'tok-icon'
                    .committee-congressman__contacts-second-line
                      - if congressman.homepage_url.present?
                        .committee-congressman__contacts-second-line--homepage
                          = link_to congressman.homepage_url, target: '_blank' do
                            %i.fa.fa-home.fa-fw
                      - if congressman.twitter_url.present?
                        .committee-congressman__contacts-second-line--twitter
                          = link_to congressman.twitter_url, target: '_blank' do
                            %i.fa.fa-twitter.fa-fw
                      - if congressman.facebook_url.present?
                        .committee-congressman__contacts-second-line--facebook
                          = link_to congressman.facebook_url, target: '_blank' do
                            %i.fa.fa-facebook.fa-fw
                      - if congressman.email.present?
                        .committee-congressman__contacts-second-line--email
                          = mail_to congressman.email, target: '_blank' do
                            %i.fa.fa-envelope.fa-fw
      .project-panel__comments.project-panel
        %hr.project-divider
        .project-label
          %strong|
          댓글
          %span.text-muted (#{@project.comments.count})
      = render 'comments/list', commentable: @project, placeholder: '지지 메시지를 남겨주세요'
