- participation_at_home ||= false
%section
  .container
    .page-header
      %h2
        = @project.title
        %small
          = @project.created_at
        .pull-right
          %small
            = link_to '관리', admin_project_path(@project)

    .panel.panel-default
      .panel-heading
        %div
          [상태]
          = t("messages.project_status.#{@project.status}")
        - if @project.proposal.present?
          %div
            [제안자]
            = @project.proposal.proposer_name
      .panel-body
        = simple_format @project.body
        - @project.attachments.each do |attachment|
          = link_to attachment.name, attachment.source.url, target: '_blank'
      - if @project.committee.present?
        .panel-footer
          %div
            [관련 상임위원회]
            = @project.committee.name

    %div.text-center
      = render 'participations/button', project: @project, participation_at_home: participation_at_home
    %div.text-center
      = render 'participations/list', project: @project

    = render "projects/body_#{@project.status}", project: @project

    %div
      = render 'comments/list', commentable: @project
