%section
  .container-fluid
    .page-header
      %h2
        = @project.title
        - if current_user.try(:role).try(:staff?)
          .pull-right
            %small
              = link_to '관리', admin_project_path(@project)

    - if @project.committee.present?
      %div
        = @project.committee.name

    %div
      = simple_format @project.body
      - @project.attachments.each do |attachment|
        = link_to attachment.name, attachment.source.url, target: '_blank'

    %div.text-center
      = render 'participations/button', project: @project
    %div.text-center
      = render 'participations/list', project: @project

    %div
      = render 'comments/list', commentable: @project
