= form_for @proposal do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control input-lg'


  .form-group
    = f.label :proposer_name
    = f.text_field :proposer_name, class: 'form-control input-lg', value: (@proposal.proposer_name || current_user.try(:nickname))

  .form-group
    = f.label :proposer_email
    = f.text_field :proposer_email, class: 'form-control input-lg', value: (@proposal.proposer_email || current_user.try(:email))

  .form-group
    = f.label :proposer_phone
    = f.text_field :proposer_phone, class: 'form-control input-lg'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor', row: 20

    #attachments
      .button
        = link_to_add_association f, :attachments, class: 'btn btn-attachment', 'data-association-insertion-method': 'after' do
          = image_tag 'icon_attachment', class: 'icon-attachment'
          첨부파일
      = f.fields_for :attachments do |ff|
        = render 'attachment_fields', f: ff

  .form-group.form-group-submita
    = f.submit '제안하기', class: 'btn btn-submit', data: { disable_with: "저장 중..." }
