%p
  국회에 제안, 톡을 보내세요
  %br
  시민의 제안이 법안이 됩니다

= form_for @proposal do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control input-lg'


  .form-group
    = f.label :proposer_name
    = f.text_field :proposer_name, class: 'form-control input-lg', value: (@proposal.proposer_name || current_user.try(:nickname))

  .form-group
    = f.label :proposer_email
    = f.text_field :proposer_email, class: 'form-control input-lg', value: (@proposal.proposer_email || current_user.try(:email))

  .form-group
    = f.label :proposer_phone
    = f.text_field :proposer_phone, class: 'form-control input-lg'

  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control redactor'

  %h3 Attachments
  #attachments
    = f.fields_for :attachments do |ff|
      = render 'attachment_fields', f: ff
    .links
      = link_to_add_association 'add attachment', f, :attachments

  .form-group
    = f.submit class: 'btn btn-primary'
