%section
  .container-fluid
    .page-header
      %h2
        #{@proposal.title} 제안해주셔서 감사합니다!

    %div
      %span= @proposal.proposer_name
      %span= @proposal.proposer_email
      %span= @proposal.proposer_phone
      - if @proposal.user.present?
        %span (회원: #{@proposal.user.nickname})
    %div
      = simple_format @proposal.body
      - @proposal.attachments.each do |attachment|
        = link_to attachment.name, attachment.source.url, target: '_blank'

    %div
      - if user_signed_in?
        #{ link_to '내 페이지', current_user}에서 확인 가능합니다.
      - else
        진행 결과는 메일이나 전화로 연락 드릴께요.
