%section
  .container
    .page-header
      %h2
        = @proposal.title
        %small
          = @proposal.created_at
        .pull-right
          %small
            - if can? :update, @proposal
              = link_to '수정', [:edit, @proposal]
            - if can? :destroy, @proposal
              = link_to '삭제', @proposal, method: :delete, data: {confirm: '정말로 삭제하시겠습니까?'}

    %div
      %span= @proposal.proposer_name
      %span= @proposal.proposer_email
      %span= @proposal.proposer_phone
      - if @proposal.user.present?
        %span (회원: #{@proposal.user.nickname})
    %div
      = simple_format @proposal.body
      - @proposal.attachments.each do |attachment|
        = link_to attachment.name, attachment.source.url, target: '_blank'

    %div
      = render 'comments/list', commentable: @proposal
