%section#page-proposals-show
  .container
    .page-header
      %h2
        = @proposal.title
        %small
          = @proposal.created_at
        .pull-right
          %small
            - if can? :update, @proposal
              = link_to '수정', [:edit, @proposal]
            - if can? :destroy, @proposal
              = link_to '삭제', @proposal, method: :delete, data: {confirm: '정말로 삭제하시겠습니까?'}

    %div
      .proposal-label
        %strong|
        제안자
      %span= @proposal.proposer_name
      %span= @proposal.proposer_email
      %span= @proposal.proposer_phone
      - if @proposal.user.present?
        %span (회원: #{@proposal.user.nickname})
    %br
    %div
      .proposal-label
        %strong|
        제안내용
      = simple_format @proposal.body
      - if @proposal.attachments.any?
        .proposal-label
          %strong|
          첨부파일
        .proposal-attachment
          - @proposal.attachments.each do |attachment|
            = link_to attachment.name, attachment.source.url, target: '_blank'
            %br
    %br
    %div
      - if upload_file_exists?(@proposal.image)
        .proposal-label
          %strong|
          대표이미지
        = image_tag @proposal.image.url, class: 'img-thumbnail', style: 'max-width: 50%'
    %br
    %hr

    %div
      = render 'comments/list', commentable: @proposal
