%section#page-proposals-create
  %section#intro
    .container
      %p
        제안해주셔서 감사합니다.
        %br
        제안받은 내용은 국회톡톡팀이 검토 후
        %br
        프로젝트로 업로드합니다.
  %section#saved-proposal
    .container
      .section-label
        %strong|
        제안자
      .media
        .media-left
          .proposer-image.img-user-large{style: "background-image: url(#{image_url('img_default_profile.png')});"}
        .media-body.proposal-proposer
          .proposer-name
            = @proposal.proposer_name
            %span.proposer-date
              = static_date_f_not_hour @proposal.created_at
          .proposer-email
            = @proposal.proposer_email
          .proposer-phone
            = @proposal.proposer_phone
      %hr.proposal-divider
      .section-label
        %strong|
        제안내용
      .proposal-title= @proposal.title
      .proposal-body!= @proposal.body
