%footer.footer
  .container
    .footer-logo-wrapper
      = link_to 'http://www.wagl.net/', target: '_blank', class: 'footer-logo footer-logo__wagl' do
        = image_tag 'footer_logo_wagl.png'
      = link_to 'http://themirae.org/', target: '_blank', class: 'footer-logo footer-logo__future' do
        = image_tag 'footer_logo_future.png'
      = link_to '#', target: '_blank', class: 'footer-logo footer-logo__forum' do
        = image_tag 'footer_logo_forum.png'
      = link_to 'http://parti.xyz', target: '_blank', class: 'footer-logo footer-logo__parti' do
        = image_tag 'footer_logo_parti.png'
    .user-agreement
      = link_to '개인정보취급방침', privacy_path
    .privacy
      = link_to '이용약관', user_agreement_path
    .help-mail
      %a(href="mailto:info@toktok.io") 문의하기 info@toktok.io
    .social-share
      - unless browser.device.mobile?
        %ul.list-inline.social-icon
          - base_data = {action: 'toktok-share', 'share-url': root_url, 'share-text': meta_tags['description'] }
          - %w(facebook twitter kakao-link kakao-story).each do |provider|

            - data = base_data.merge('share-provider': provider)

            - if provider == 'kakao-link'
              - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
              - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630', 'share-logo': asset_url('share_kakao_icon.png'), 'share-css': 'social-icon__kas')
            - if provider == 'twitter'
              - data = data.merge('share-text': "국회의원만 법안 만들란 법 있나? 내게 필요한 법, 의원에게 직접 제안하자! #국회톡톡은 시민의 제안을 법으로 만듭니다. 지금 참여해서 시민의 제안을 국회로 연결해주세요!", 'share-logo': asset_url('share_twitter_icon.png'), 'share-css': 'social-icon__twitter')
            - if provider == 'facebook'
              - data = data.merge('share-logo': asset_url('share_facebook_icon.png'), 'share-css': 'social-icon__facebook')
            %li.share-item.jssocials{class: "share-#{provider}#{hide_kakao_link}", data: data }
              .jssocials-shares
                .jssocials-share
                  - if provider == 'kakao-story'
                    = image_tag 'share_kas_icon.png', class: 'social-icon__kas'
                  - if provider == 'kakao-link'
                    = image_tag 'share_kakao_icon.png', class: 'social-icon__kas'

      - if browser.device.mobile?
        %ul.list-inline.social-icon-mobile--wrapper
          - base_data = {action: 'toktok-share', 'share-url': root_url, 'share-text': meta_tags['description'] }
          - %w(facebook twitter kakao-link kakao-story).each do |provider|

            - data = base_data.merge('share-provider': provider)

            - if provider == 'kakao-link'
              - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
              - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630', 'share-logo': asset_url('share_kakao_icon.png'), 'share-css': 'social-icon--mobile__kas')
            - if provider == 'twitter'
              - data = data.merge('share-text': "국회의원만 법안 만들란 법 있나? 내게 필요한 법, 의원에게 직접 제안하자! #국회톡톡은 시민의 제안을 법으로 만듭니다. 지금 참여해서 시민의 제안을 국회로 연결해주세요!", 'share-logo': asset_url('share_twitter_icon.png'), 'share-css': 'social-icon--mobile__twitter')
            - if provider == 'facebook'
              - data = data.merge('share-logo': asset_url('share_facebook_icon.png'), 'share-css': 'social-icon--mobile__facebook')
            %li.share-item.jssocials{class: "share-#{provider}#{hide_kakao_link}", data: data }
              .jssocials-shares
                .jssocials-share
                  - if provider == 'kakao-story'
                    = image_tag 'share_kas_icon.png', class: 'social-icon--mobile__kas'
                  - if provider == 'kakao-link'
                    = image_tag 'share_kakao_icon.png', class: 'social-icon--mobile__kas'

