#site-header
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{"data-target": "#collapsable", "data-toggle": "collapse", type: "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{ href: root_path }
          HOTLINEKR

      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to '제안', proposals_path
          %li= link_to '프로젝트', projects_path
          %li= link_to '회원', users_path
          %li= link_to '위원회', committees_path

        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li
              = link_to user_path(current_user) do
                = render 'users/thumbnail'
                = current_user.nickname
            %li
              = link_to sign_out_path, method: :delete do
                로그아웃
          - else
            %li
              = link_to '가입/로그인', join_path
